<div id="movie-details" style="display: block;"><div class="movie">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 movie-image">
                <img class="movie-details poster" src="">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 movie-info">
                <h3><span class="movie-details title"></span></h3>
                <h4>$<span class="movie-details revenue"></span></h4>
                <p class="rating">
                    <span class="average"><b><span class="movie-details average rating"></span></b></span> / 10
                    <span class="votes">(<span class="movie-details votes"></span>)</span>
                </p>
                <p><span class="movie-details overview"></span></p>
            </div>
        </div>
    </div>
</div></div>